nav {
    width: 100%;
    padding: 20px;
    background-color: #2F2F2F;
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar__menu{
    display: flex;
    column-gap: 40px;
    margin-right: 90px;
    li{
        a{
            text-decoration: none;
            color: #888888;
            font-weight: 500;
            font-size: 16px;
            line-height: 25.6px;
        }
    }
}
.home{
    color: #ffffff;
}
.navbar__btn{
    width: 150px;
    height: 50px;
    padding: 15px 30px;
    background-color: #F59B00;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19.2px;
    color: #ffffff;
}
.navbar__img {
    margin-right: 483px;
}